.header {
  display: flex;
  justify-content: center;
  padding: 16px 8px;
}
.header__logo {
  width: 197px;
}
.header__link {
  color: #353535;
}
.header__icon {
  font-size: 24px;
}
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 200px;
  }
  .header__wrapper {
    width: 100%;
  }
  .header.header__menu {
    padding: 32px 72px 32px 16px;
  }
}
.button {
  display: flex;
  align-self: center;
  border-radius: 40px;
  font-weight: 500;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  padding: 16px 24px;
  border: 0px;
  cursor: pointer;
  transition: opacity 250ms;
}
.button.button__order {
  margin: 40px 0 0 0;
  padding: 16px 48px;
}
.button__link {
  margin: 0px;
}
.button:hover {
  opacity: 0.9;
  box-shadow: 3px 12px 10px #d2d2d2;
}
.button__link:link {
  text-decoration: none;
  color: #ffffff;
}
.button__link:active {
  color: #ffffff;
}
.button__link:visited {
  color: #ffffff;
}

@keyframes like__icon--solid {
  0% {
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.like {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  padding-right: 24px;
}
.like__icon {
  font-size: 24px;
  color: #000000;
}
.like:link {
  text-decoration: none;
}
.like__icon--solid {
  position: absolute;
  z-index: -1;
}
.like__icon--regular {
  position: absolute;
  z-index: 1;
}
.like:hover .like__icon--solid {
  z-index: 1;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  animation: like__icon--solid 2s ease-out forwards;
}
.like:hover .like__icon--regular {
  z-index: -1;
}

.footer {
  background-color: #353535;
  padding: 24px;
}
.footer__logo {
  margin: 0px 0px 16px 0px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__link {
  color: #ffffff;
  display: flex;
  align-items: baseline;
}
.footer__link:link {
  text-decoration: none;
}
.footer__icon {
  margin: 0px 8px 0px 0px;
  color: #ffffff;
}
.footer__text {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 48px 80px 40px 32px;
  }
  .footer__wrapper {
    display: flex;
  }
  .footer__textWrapper {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1300px) {
  .footer__logo {
    margin: 0px 0px 0px 32px;
  }
}
@keyframes homePageAnimation {
  0% {
    opacity: 0.1;
    visibility: initial;
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.progress {
  width: 50%;
  position: fixed;
  top: 47.5%;
  left: 25%;
  height: 5%;
  border-radius: 25px;
  transform-origin: top left;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  animation: homePageAnimation 3000ms ease-in-out 150ms both;
  visibility: hidden;
}

.fullContent {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
}

@keyframes hidding-homePage {
  0% {
    transform: translateX(-9999px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.hiddenPage {
  animation: hidding-homePage 0ms 3150ms both;
}

.location {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #eaeaea;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  gap: 16px;
  padding: 16px 8px;
  box-shadow: 0 -2px 4px 0 #d2d2d2;
}
.location__icon {
  display: flex;
  align-items: center;
}
.location__input {
  border: none;
  background-color: #eaeaea;
  padding: 0;
}
.location ::placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}

.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to bottom, #ffffff 80%, #eaeaea);
  padding: 40px 32px 56px 32px;
}
.presentation__title {
  font-size: 24px;
  font-weight: 700;
  overflow-wrap: break-word;
  margin: 0;
}
.presentation__text {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  overflow-wrap: break-word;
  margin: 16px 0 24px 0;
}

.operation {
  padding: 48px 24px 64px 24px;
}
.operation__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.operation__navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 24px 0 0 10px;
  gap: 24px;
}
.operation__navigationWrapper {
  display: flex;
  align-items: center;
}
.operation__numberIcon {
  position: absolute;
  z-index: 1;
  background: #9356dc;
  border-radius: 50%;
  border: 6px solid #9356dc;
  width: 12px;
  color: #ffffff;
  font-size: 12px;
  margin: -10px;
}
.operation__numberIcon::before {
  display: flex;
  justify-content: center;
}
.operation__link {
  width: 100%;
}
.operation__link:hover .operation__Icon {
  color: #9356dc;
  opacity: 1;
}
.operation__link:link {
  text-decoration: none;
  color: #000000;
}
.operation__link:active {
  color: #000000;
}
.operation__link:visited {
  color: #000000;
}
.operation__navigationCard {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #f6f6f6;
}
.operation__Icon {
  font-size: 20px;
  opacity: 0.5;
  height: 20px;
  width: 13px;
  padding-left: 16px;
}
.operation__Icon::before {
  display: flex;
  align-items: center;
}
.operation__txt {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 56px 24px 64px 24px;
}
.restaurants__link {
  display: flex;
  flex-direction: column;
}
.restaurants__link:link {
  color: #000000;
  text-decoration: none;
  width: 100%;
}
.restaurants__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0px 0px 24px 0px;
}
.restaurants__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__picture-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.restaurants__picture {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.restaurants__new {
  border: 1px solid #99e2d0;
  border-radius: 3px;
  color: #008766;
  background-color: #99e2d0;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  margin: 16px 16px 0 0;
}
.restaurants__legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ffffff;
  border-radius: 0px 0px 20px 20px;
  border-top: none;
  background: #ffffff;
  padding: 16px 16px 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants__legendWrapper {
  color: #000000;
}
.restaurants__name {
  font-size: 18px;
  font-weight: 700;
  margin: 0px 0px 8px 0px;
}
.restaurants__district {
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .presentation {
    padding: 24px 0;
  }
  .presentation__title {
    font-size: 40px;
  }
  .presentation__text {
    margin: 16px 0;
  }
  .operation {
    padding: 56px 32px;
  }
  .operation__navigation {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 24px 0 0 0;
    gap: 32px;
  }
  .operation__navigationWrapper {
    flex-wrap: wrap;
  }
  .restaurants {
    padding: 32px 56px 32px 56px;
  }
  .restaurants__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .restaurants__picture {
    height: 175px;
  }
  .restaurants__card {
    width: calc(45% - 12px);
  }
  .footer {
    padding: 56px 80px 32px 32px;
    align-items: flex-start;
  }
  .footer__wrapper {
    flex-direction: row;
    gap: 32px;
  }
  .footer__logo {
    margin: 0 0 0 88px;
  }
}
@media screen and (min-width: 1024px) {
  .operation {
    padding: 32px 80px;
  }
  .operation__title {
    text-align: left;
  }
  .operation__navigation {
    justify-content: space-between;
  }
  .restaurants {
    padding: 32px 100px;
  }
}
@media screen and (min-width: 1070px) {
  .operation {
    padding: 32px 100px;
  }
}
@media screen and (min-width: 1400px) {
  .operation__navigationWrapper {
    width: calc(33% - 70px);
  }
}
.main__picture {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -64px;
  padding: 32px 16px 40px 16px;
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px 0 0;
}
.section__title {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  margin: 0px;
}
.section__button {
  padding: 16px 48px;
  margin: 32px 0px 80px 0px;
  text-decoration: none;
}

@keyframes menu {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes orderButton {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
    transition: transform 150ms ease-in-out;
  }
  100% {
    transform: rotate(-180deg);
    transition: transform 150ms ease-in-out;
  }
}
.menu {
  margin-top: 40px;
}
.menu__title {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 8px;
  width: 9%;
  margin: 0;
}
.menu__iconWrapper {
  display: none;
}
.menu__icon {
  display: none;
}
.menu__choice {
  border-radius: 20px;
  background: #ffffff;
  margin-top: 16px;
  box-shadow: 5px 5px 20px #d2d2d2;
  animation: menu 350ms backwards;
  overflow-x: hidden;
}
.menu__choice--1 {
  animation-delay: 150ms;
}
.menu__choice--2 {
  animation-delay: 300ms;
}
.menu__choice--3 {
  animation-delay: 450ms;
}
.menu__choice--4 {
  animation-delay: 600ms;
}
.menu__choice:hover .menu__iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #99e2d0;
  background: #99e2d0;
  padding: 40px 32px;
  border-radius: 0px 20px 20px 0px;
  width: fit-content;
  animation: orderButton 250ms ease-in-out;
}
.menu__choice:hover .menu__icon {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  border: 6px solid #ffffff;
  width: 12px;
  color: #99e2d0;
  font-size: 12px;
  animation: rotation 175ms 100ms;
}
.menu__link {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.menu__link:link {
  text-decoration: none;
  color: #000000;
}
.menu__link:visited {
  color: #000000;
}
.menu__nameWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__name {
  font-size: 18px;
  font-weight: 500;
  margin: 0px 0px 8px 0px;
}
.menu__detailWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__detail {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.menu__price {
  margin: 0px;
  font-weight: 700;
  font-size: 15px;
  color: #353535;
}

@media screen and (min-width: 768px) {
  .section__picture {
    height: 450px;
  }
  .section__wrapper {
    margin: -64px 80px 0px 80px;
  }
  .section__header {
    justify-content: center;
    gap: 24px;
    margin: 48px 0px 0px 0px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 150px;
    margin-top: 40px;
  }
  .menu__title {
    width: 5%;
  }
  .menu__choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu__nameWrapper {
    padding: 16px;
  }
  .menu__name, .menu__detail {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu__detail {
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1200px) {
  .section__wrapper {
    margin: -64px 192px 0px 192px;
  }
  .menu {
    padding: 0px 150px;
  }
}

/*# sourceMappingURL=style.css.map */
