.like {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: end;
  top: 230px;
  right: 40px;
  height: fit-content;

  &__restaurant-page {
    position: initial;
  }

  &__icon {
    font-size: 24px;
  }

  &:link {
    text-decoration: none;
  }

  &__icon--solid {
    position: absolute;
    color: $color-primary;
    transform: scale(0);
    transition: 250ms ease-in-out;
  }

  &__icon--regular {
    position: relative;
    color: $black;
    transition: 150ms ease-in-out;
  }

  &:hover &__icon--solid {
    background: linear-gradient($color-primary, $color-secondary);
    transform: scale(1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover &__icon--regular {
    opacity: 0;
    transition: 250ms ease-in-out;
  }
}

@media screen and (min-width: 769px) {
  .like {
    top: 203px;
  }
}
