$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-tertiaryDarker: #008766;
$white: #ffffff;
$black: #000000;
$shadow-color: #d2d2d2;
$light-grey: #eaeaea;
$dark-grey: #353535;
$card-color: #f6f6f6;
$spacing: 8px;
$title-size: 24px;
