.header {
  display: flex;
  justify-content: center;
  padding: $spacing * 2 $spacing;

  &__logo {
    width: 197px;
  }

  &__link {
    color: $dark-grey;
  }

  &__icon {
    font-size: 24px;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $spacing * 2;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__logo {
      width: 200px;
    }

    &__wrapper {
      width: 100%;
    }

    &.header__menu {
      padding: $spacing * 4 $spacing * 9 $spacing * 4 $spacing * 2;
    }
  }
}
